<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bun.xh.repository.db.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.bun.xh.repository.db.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_pic" jdbcType="VARCHAR" property="userPic" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, password, user_pic, register_time, user_status, version, created_at, 
    updated_at
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bun.xh.repository.db.model.User" useGeneratedKeys="true">
    insert into user (user_id, user_name, password, 
      user_pic, register_time, user_status, 
      version, created_at, updated_at
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userPic,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, #{userStatus,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByUserId" parameterType="com.bun.xh.repository.db.model.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_pic = #{userPic,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      user_status = #{userStatus,jdbcType=VARCHAR},
      version = version + 1
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="selectUserByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>